{% extends 'base.html' %}


{% block content %}

<br>
<br>
<a href="{% url 'detailPost' post.id %}"><h2>{{post.title}}</h2></a>
<p>{{post.createDate}}</p>
<h4>{{post.dec}}</h4>
<h4>Author: {{post.user}}</h4>
<h4>Topic: {{post.topic}} </h4>
{% if post.image %}
    <img src="{{post.image.url}}" alt="photo" style="width: 500px">
{% endif %}

<h4>Your answer:</h4>
{{error}}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Answer</button>

</form>

   
{% endblock content %}

    

