{% extends 'base.html' %}

hej

{% block content %}

<h1>{{post.title}}</h1>
<p>{{post.createDate}}</p>
<h4>{{post.dec}}</h4>
<h4>Author: {{post.user}}</h4>
<h4>Topic: {{post.topic}}</h4>


{% if post.image %}
    <img src="{{post.image.url}}" alt="photo" style="width: 500px">
{% endif %}


{% if post.user == user %}
<a href="{% url 'detail' post.id %}">Edit</a>
    
{% endif %}

{% for postComment in postComments %}
<hr>
<div>
    <h2>{{postComment.post}}</h2>
    <h4>Odpowiedział/a: {{postComment.user}}</h4>
    <p>{{postComment.content}}</p>
     {% if postComment.image %}
        <img src="{{postComment.image.url}}" >
    {% endif %}
</div>
<hr>

{% endfor %}
    
{% endblock content %}

    