{% extends 'base.html' %}

{% block content %}

<h1>{{post.title}}</h1>
<p>{{post.createDate}}</p>
<h4>{{post.dec}}</h4>
<h4>Author: {{post.user}}</h4>
<h4>Topic: {{post.topic}}</h4>


{% if post.image %}
    <img src="{{post.image.url}}" alt="photo" style="width: 500px">
{% endif %}
<br>
    
{% if post.user == user %}

    <form action="{% url 'createAnswerPost' post.id %}">
    {% csrf_token %}
    <button type="submit">Answer</button>
    </form>
    <a href="{% url 'detail' post.id %}" role="button">Edit</a>

{% else %}

    <form action="{% url 'createAnswerPost' post.id %}">
    {% csrf_token %}
    <button type="submit">Answer</button>
    </form>

{% endif %}



<h3>Number of comments: {{comments.count}} </h3>

{% for comment in comments %}
<hr>
<h4>{{comment.createDate}} Odpowiedział/a: {{comment.user}}</h4>
<h4>{{comment.content}}</h4>

{% if comment.image %}
        <img src="{{comment.image.url}}" alt="photo" style="width: 500px" >
{% endif %}
{% if comment.user == user %}
    <form action="{% url 'editAnswerPost' comment.id %}">
    {% csrf_token %}
    <button type="submit">Edit</button>
    </form>

{% endif %}

{% endfor %}
<hr>



    
{% endblock content %}

    